
{% extends "main/header.html" %} 

{% block content %}

{% load static %}

<body>

  <section class="hero">
    <div class="container">
  
      <div class="hero__text container--pall">
        <h1>Header</h1>
        <p>
          Hello World!
        </p>

        <p style="color: #445C76">
          Connect on:
        </p>

        <a class="rounded-button" href="/" target="_blank">
          <div class="fa fa-linkedin"></div>
        </a>
        
        <a class="rounded-button" href="/" target="_blank">
          <div class="fa fa-github"></div>
        </a>

      </div>
    </div>

  </section>

  <section class="articles">
    <div class="article__content container container--pall">
      <h2>Featured Articles</h2>

      <div class="article__grid">
        {% for post in all_projects %}
        <a href="{{post.project_slug}}" class="article__item">
          <div class="article__image">
            <img src="{{ post.project_image.url }}" class="article__test">
          </div>
          <div class="article__text">
            <div class="article__author">
              {{ post.project_published|date:"M d, Y" }}
            </div>
            <div class="article__title">
              {{ post.project_title }}
            </div>
            <div class="article__description">
              {{ post.project_content|safe|truncatechars:155 }}
            </div>
          </div>
        </a>

        {% endfor %}

      </div>
    </div>
  </section>


</body>

{% endblock %}


