.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 300ms ease-in-out forwards;
          animation: fade-in 300ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 300ms ease-in-out forwards;
          animation: fade-out 300ms ease-in-out forwards;
}

/* Need to compile our scss to css using an extension called Live Sass Compiler */
/* ********* Generic Styles *********** */
/* border-box means padding is included in an elements final width */
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ::before and ::after are pseudo elements and we want them to have the same box-sizing as whatever element they 'pseudo-ing' */
*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  line-height: 1.3;
  font-size: 0.875rem;
  color: #123C69;
  overflow-x: hidden;
}

@media (min-width: 64em) {
  body {
    font-size: 1.125rem;
  }
}

body.noscroll {
  overflow: hidden;
}

h1, h2, h3 {
  margin-top: 0;
  font-weight: 300;
  color: #123C69;
  line-height: 1.15;
}

h1 {
  font-size: 2.3125rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 64em) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.5625rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

p {
  line-height: 1.5;
  margin-bottom: 2.25rem;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: #123C69;
}

/* ********* Container helper class ********* */
.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--pall {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--pt {
  padding-top: 4.375rem;
}

@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pb {
  padding-bottom: 4.375rem;
}

@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pr {
  padding-right: 1.5rem;
}

/* ********* Flexbox Styles *********** */
/* Parent/container element */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* If we assign something a class of jc-sb within a flex container, it will be justified this way */
.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* If we assign something a class of jc-c within a flex container, it will be justified this way */
.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* If we assign something a class of ai-c within a flex container, it will be aligned this way */
.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-button {
  font-size: 0.875rem;
  color: white;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.flex-button:hover {
  opacity: 0.75;
}

/* ********* Button Style *********** */
button, .button {
  display: inline-block;
  padding: 1.175rem 1.1875rem;
  background: -webkit-gradient(linear, left top, right top, from(#123C69), to(#123C69));
  background: linear-gradient(to right, #123C69, #123C69);
  color: #FAFAFA;
  font-weight: 400;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

button:hover, .button:hover {
  opacity: 0.75;
}

/* ********** Screen size visibility *********** */
@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 1;
  background-color: #FAFAFA;
  /* This for the animation when the hamburger menu is clicked on */
  /* **** The overlay that displays over the page when the mobile menu is activated **** */
  /* logo within the header (header__logo) */
  /* Hamburger mobile menu (header__toggle) within the header -> each span is one of the lines in the menu icon */
  /* Mobile menu link */
  /* Links for full size navbar */
}

.header.open {
  /* Overlay is placed over the body */
  /* And burger icon animates */
}

.header.open .overlay {
  display: block;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  visibility: hidden;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(white));
  background-image: linear-gradient(#FAFAFA, white);
}

.header nav {
  position: relative;
  background-color: #FAFAFA;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  height: 5rem;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #123C69;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
  -webkit-transition: 300ms all ease-in-out;
  transition: 300ms all ease-in-out;
  /* Want to add bottom spacing to all the hamburger icon lines apart from the bottom one */
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #FAFAFA;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 5px;
}

.header__menu a {
  display: block;
  color: #123C69;
  padding: 0.625rem;
  text-align: center;
}

.header__links {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__links a {
  position: relative;
  font-size: 0.875rem;
  color: #123C69;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  /* Want to add a bit of space to the right of the links, but not the last link */
  /* This is so the bottom of navar has a color when you hover over a specific link */
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 1.5px;
  left: 0;
  right: 0;
  bottom: -25px;
  background: -webkit-gradient(linear, left top, right top, from(#45A29E), to(#45A29E));
  background: linear-gradient(to right, #45A29E, #45A29E);
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: black;
}

.header__links a:hover::before {
  background: -webkit-gradient(linear, left top, right top, from(#45A29E), to(#45A29E));
  background: linear-gradient(to right, #45A29E, #45A29E);
  opacity: 1;
}

.hero {
  background-color: #FAFAFA;
  /* Only want flexbox for desktop screen sizes */
}

.hero .container {
  background-image: url("design_images/bg_light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 64em) {
  .hero .container {
    background-image: url("design_images/bg.jpg");
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__text h1 {
  font-weight: bold;
}

.hero__text span {
  color: #45A29E;
}

.hero__text p {
  color: #123C69;
}

.hero__text .rounded-button {
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  background-color: #123C69;
  color: white;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.hero__text .rounded-button:hover {
  background-color: #45A29E;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 0.6;
        -ms-flex: 0.6;
            flex: 0.6;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.post {
  background-color: #FAFAFA;
}

.post__top {
  border-bottom: 1px #445C76 solid;
}

.post__top h1 {
  font-weight: bold;
}

.post__intro {
  margin-bottom: 0rem;
}

.post__date {
  font-size: 0.9rem;
  color: #445C76;
}

@media (min-width: 40em) {
  .post__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-wrap: wrap; */
  }
}

.post__maincontent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.post__maincontent h4 {
  font-weight: bold;
  color: #45A29E;
}

.post__maincontent h2 {
  font-weight: bold;
}

.post__maincontent li {
  margin-bottom: 1rem;
}

@media (min-width: 40em) {
  .post__maincontent {
    -webkit-box-flex: 0.6;
        -ms-flex: 0.6;
            flex: 0.6;
  }
}

@media (min-width: 64em) {
  .post__maincontent {
    -webkit-box-flex: 0.6;
        -ms-flex: 0.6;
            flex: 0.6;
  }
}

.post__sidecontent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 40em) {
  .post__sidecontent {
    -webkit-box-flex: 0.4;
        -ms-flex: 0.4;
            flex: 0.4;
  }
}

@media (min-width: 64em) {
  .post__sidecontent {
    -webkit-box-flex: 0.4;
        -ms-flex: 0.4;
            flex: 0.4;
  }
}

.post__sideitem {
  border-radius: 0.3125rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  margin-bottom: 0.9375rem;
}

@media (min-width: 40em) {
  .post__sideitem {
    width: 80%;
    position: relative;
    left: 3rem;
    top: 1rem;
  }
}

.post__sideitem:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.post__aboutimage {
  background-image: url("images/display_pic.jpeg");
  height: 10rem;
}

.articles {
  background-color: #FAFAFA;
}

.articles h2 {
  text-align: center;
}

@media (min-width: 40em) {
  .articles h2 {
    text-align: left;
  }
}

.article__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 1.875rem;
  color: red;
}

@media (min-width: 40em) {
  .article__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .article__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.article__item {
  border-radius: 0.3125rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
  background-color: white;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.article__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.article__final {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  position: relative;
  font-size: 1.0625rem;
  min-height: 10rem;
}

.article__final a {
  color: white;
}

.article__finaltext {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.2rem;
  background-color: #123C69;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.2rem;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.article__finaltext:hover {
  background-color: #45A29E;
}

.article__image {
  min-height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.article__image img {
  width: 100%;
}

.article__text {
  padding: 1.875rem 1.875rem 2.5rem 1.875rem;
  color: #445C76;
}

@media (min-width: 40em) {
  .article__text {
    padding: 1.875rem 1.6525rem;
  }
}

.article__author {
  font-size: 0.625rem;
  margin-bottom: 0.75rem;
}

.article__title {
  font-size: 1.0625rem;
  line-height: 1.2;
  color: #123C69;
  margin-bottom: 0.5rem;
}

.article__description {
  font-size: 0.8125rem;
}

.article__backhome a {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  color: #45A29E;
}

.article__backhome a:hover {
  color: #445C76;
}

.article__topic-summary {
  color: #445C76;
}

.footer {
  background-color: #123C69;
  color: white;
  padding: 2.5rem;
  text-align: center;
}

@media (min-width: 64em) {
  .footer .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 1fr 2fr;
        grid-template-columns: 2fr 1fr 1fr 2fr;
    -ms-grid-rows: 1fr auto;
        grid-template-rows: 1fr auto;
        grid-template-areas: "logo links1 links2 cta" "social links1 links2 copyright";
    gap: 1rem;
    justify-items: start;
  }
}

.footer a {
  color: white;
}

.footer__logo {
  display: inline-block;
}

@media (max-width: 63.9375em) {
  .footer__logo {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__logo {
    grid-area: logo;
  }
}

@media (max-width: 63.9375em) {
  .footer__social {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__social {
    grid-area: social;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
}

.footer__social a {
  display: inline-block;
  height: 1.25rem;
}

.footer__social a svg path {
  -webkit-transition: fill 150ms ease-in-out;
  transition: fill 150ms ease-in-out;
}

.footer__social a:hover svg path {
  fill: #45A29E;
}

.footer__social a:not(:last-child) {
  margin-right: 1rem;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9375rem;
}

@media (min-width: 64em) {
  .footer__links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media (min-width: 64em) {
  .footer__links.col1 {
    grid-area: links1;
  }
}

@media (max-width: 63.9375em) {
  .footer__links.col2 {
    margin-bottom: 1.875rem;
  }
}

@media (min-width: 64em) {
  .footer__links.col2 {
    grid-area: links2;
  }
}

.footer__links a {
  line-height: 2.25;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}

.footer__links a:hover {
  color: #45A29E;
}

@media (min-width: 64em) {
  .footer__cta {
    grid-area: cta;
    text-align: right;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

@media (max-width: 63.9375em) {
  .footer__cta a.button {
    margin-bottom: 1.875rem;
  }
}

.footer__copyright {
  font-size: 0.8125rem;
  color: #45A29E;
}

@media (min-width: 64em) {
  .footer__copyright {
    grid-area: copyright;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}
/*# sourceMappingURL=style.css.map */